@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::selection {
  background: #D4AF37;
  color: #181C14;
}

::-moz-selection {
  background: #D4AF37;
  color: #181C14;
}
